<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <header>
    <% include ./partials/_header %>
    <% include ./partials/_nav %>
  </header>
  <body>
    <ul>
      <% for (var key in urls) { %>
        <center>
          <li><a href="<%= urls[key] %>"><%= urls[key] %></a> : <a href="/urls/<%= key  %>"><%= key %></a></li>
          <a href="/urls/<%= key %>">Edit</a>
          <form action="/urls/<%= key %>/delete" method="POST">
            <button>Delete</button>
          </form> 
          <br />
        </center>
      <% } %>
      </ul>
      <center><a href="/urls/new"><button>Create New Short Link</button> </a></center>
  </body>
</html>