<!DOCTYPE html>
<html lang="en">
  </head>
  <head>
    <% include ./partials/_header %>
  <body>
    <ul>
      <% for (var key in urls) { %>
        <center>
          <li><a href="<%= urls[key] %>"><%= urls[key] %></a> : <%= key %></li>
          <a href="/urls/<%= key %>">Edit</a>
          <form action="/urls/<%= key %>/delete" method="POST">
            <button>Delete</button>
          </form> 

        </center>
      <% } %>
      </ul>
  </body>
</html>